* {
  margin: 0;
  padding: 0;
  border: 0.5px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(216, 216, 216);
}

#header {
  margin-bottom: 50px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgb(255, 177, 10);
}

#header-logo {
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#header-img {
  height: 35px;
}

#header-h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  letter-spacing: 5px;
}

#header #nav-bar a {
  margin-left: 25px;
}

main > h2 {
  margin-top: 150px;
  text-align: center;
}

#form {
  margin: 20px;
  text-align: center;
}

input[type="email"] {
  width: 200px;
}

input[type="submit"] {
  font-weight: 700;
  width: 110px;
  background-color: rgb(255, 177, 10);
  cursor: pointer;
}

#Features,
#How_It_Works,
#Pricing {
  margin: 10px auto;
  padding-top: 100px;
  width: 720px;
}

#Features article,
#How_It_Works article,
#Pricing article {
  margin: 10px 0;
  text-align: center;
}

#Features .feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#Features .feature-icon {
  width: 50px;
  fill: rgb(255, 177, 10);
}

#Features .feature-description {
  margin: 10px 0;
}

#Features .feature-description p {
  font-size: 0.8em;
  font-weight: 700;
}

#How_It_Works .video {
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

#How_It_Works #Video {
  width: 720px;
  height: 400px;
}

#Pricing .prices {
  display: flex;
  justify-content: space-evenly;
}

#Pricing .price {
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 15px;
  width: 29%;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}

#Pricing .price h4 {
  margin: 25px 0;
}

#Pricing .price h2 {
  margin-bottom: 15px;
}

#Pricing .price h2 span {
  font-size: 0.5em;
  text-decoration: line-through;
}

#Pricing .price p:last-of-type {
  padding-bottom: 30px;
}

#footer {
  height: 60px;
  background-color: rgb(140, 140, 140);
  font-size: 0.9em;
}

#footer p {
  margin-top: 5px;
  margin-right: 10px;
  text-align: right;
}

#footer a {
  margin-left: 20px;
  text-decoration: underline;
}

@media (max-width: 758px) {
  body {
    font-size: 0.7em;
  }

  #header {
    padding: 10px;
  }

  #header-logo {
    margin-left: 5px;
    gap: 10px;
  }

  #header-img {
    height: 25px;
  }

  #header-h1 {
    letter-spacing: 3px;
  }

  #header #nav-bar a {
    margin: 5px;
    display: block;
    text-align: right;
  }

  input {
    font-size: 0.9em;
  }

  input[type="email"] {
    width: 130px;
  }

  input[type="submit"] {
    width: 80px;
  }

  #Features,
  #How_It_Works,
  #Pricing {
    margin: 5px auto;
    width: 95%;
  }

  #Features article {
    margin: 7px 0;
  }

  #Features .feature {
    gap: 10px;
  }

  #Features .feature-icon {
    width: 20px;
  }

  #Features .feature-description {
    margin: 3px 0;
  }

  #How_It_Works article {
    margin: 20px auto 10px auto;
  }

  #How_It_Works #Video {
    width: 100%;
    max-width: 380px;
    height: 200px;
  }

  #Pricing .prices {
    align-items: center;
    flex-direction: column;
  }

  #Pricing .price {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    width: 70%;
  }

  #Pricing .price h4 {
    margin: 0 0 5px 0;
  }

  #Pricing .price h2 {
    margin-bottom: 10px;
  }

  #Pricing .price p:last-of-type {
    padding-bottom: 20px;
  }

  #footer {
    margin-top: 50px;
    height: 50px;
  }

  #footer a {
    margin-left: 5px;
  }
}
