* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(179, 34, 34);
  color: rgb(246, 246, 246);
}

#navbar ul {
  margin: 0 20px 0 0;
  padding: 22px 0;
  list-style-type: none;
  text-align: right;
  font-size: 22px;
  font-weight: 600;
}

#navbar ul li {
  display: inline;
  padding: 22px 0;
}

#navbar ul li a:hover {
  background-color: rgb(3, 108, 168);
}

#navbar ul li a {
  padding: 22px 20px;
  text-decoration: none;
  color: rgb(246, 246, 246);
}

#welcome-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(165deg, rgb(0, 0, 0), rgb(37, 37, 37));
  color: rgb(246, 246, 246);
}

#welcome-section h1 {
  font-size: 60px;
}

#welcome-section p {
  margin-top: -20px;
  font-size: 18px;
  font-style: italic;
  color: rgb(179, 34, 34);
}

#projects {
  padding: 20px;
}

#projects hr {
  margin: 22px 0;
  color: transparent;
}

.project-tile {
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;
  background-color: rgb(3, 108, 168);
  color: rgb(246, 246, 246);
}

.project-tile:nth-of-type(2),
.project-tile:nth-of-type(4) {
  text-align: right;
}

.project-tile a {
  color: rgb(246, 246, 246);
}

.project-tile span a,
#footer .contact span a {
  text-decoration: none;
  color: rgba(246, 246, 246, 0.5);
}

.project-tile span a:hover,
#footer .contact span a:hover {
  text-decoration: underline;
  color: rgb(246, 246, 246);
}

#footer {
  padding: 40px;
  text-align: right;
  background-color: rgb(179, 34, 34);
  color: rgb(246, 246, 246);
}

#footer a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(246, 246, 246);
}

#footer .contact {
  position: absolute;
  left: 40px;
  text-align: left;
}

#footer .contact a {
  text-decoration: underline;
  font-weight: initial;
}

#loading {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1001;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 34, 34);
  animation: load 3s normal forwards;
}

#loading #canvas {
  position: absolute;
}

#loading .container {
  display: flex;
  width: 80%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#loading .container div {
  border-radius: 10px;
}

.one {
  height: 35%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0s;
}

.two {
  height: 45%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.1s;
}

.three {
  height: 67%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.3s;
}

.four {
  height: 45%;
  width: 7px;
  border-radius: 20px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.4s;
}

.five {
  height: 65%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.5s;
}

.six {
  height: 95%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.6s;
}

.seven {
  height: 65%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.7s;
}

.eight {
  height: 45%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.8s;
}

.nine {
  height: 35%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 0.9s;
}

.ten {
  height: 20%;
  width: 7px;
  animation: shrink 2s ease-in-out infinite;
  animation-delay: 1s;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten {
  background-color: rgb(246, 246, 246);
}

@keyframes load {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  20% {
    transform: scaleY(1);
    opacity: 1;
  }
  40% {
    transform: scaleY(1);
    opacity: 1;
  }
  60% {
    transform: scaleY(1);
    opacity: 1;
  }
  80% {
    transform: scaleY(1);
    opacity: 0;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (max-width: 768px) {
  #navbar ul {
    margin: 0;
    text-align: center;
    font-size: 16px;
  }

  #welcome-section {
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(37, 37, 37));
  }

  #welcome-section h1 {
    font-size: 45px;
  }

  #welcome-section p {
    margin-top: -10px;
    font-size: 14px;
  }

  #projects hr {
    margin: 20px 0;
  }

  .project-tile,
  .project-tile:nth-of-type(2),
  .project-tile:nth-of-type(4) {
    text-align: center;
  }

  .project-tile p,
  .project-tile a,
  #footer p,
  #footer a {
    font-size: 14px;
  }

  #footer {
    text-align: center;
  }

  #footer a {
    font-weight: initial;
  }

  #footer a:hover {
    text-decoration: underline;
  }

  #footer .contact {
    display: none;
  }
}
