@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
}

.navbar-fixed {
	z-index: 9999;
	box-shadow: inset 0 -1px 0 0 rgba(37, 37, 37, 0.1);
	background-color: rgba(255, 255, 255, 0.55);
	backdrop-filter: blur(10px);
	@apply dark:bg-dark dark:bg-opacity-55;
}

.hamburger-line {
	display: block;
	margin: 8px 0;
	width: 30px;
	height: 2px;
	background-color: rgb(37, 37, 37);
	opacity: 0.55;
	@apply dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
	transform: rotate(45deg);
}

.hamburger-active > span:nth-child(2) {
	transform: scale(0);
}

.hamburger-active > span:nth-child(3) {
	transform: rotate(-45deg);
}

#darktoggle:checked ~ label div.toggle-circle {
	transform: translateX(12px);
}

body.bluelightfilter:before {
	z-index: 19999;
	pointer-events: none;
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 255, 191);
	mix-blend-mode: multiply;
	@apply dark:bg-neutral-500;
}

#loading {
	margin: 0;
	padding: 0;
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	min-height: 100vh;
	z-index: 99999;
	justify-content: center;
	align-items: center;
	background-color: rgb(3, 108, 168);
	animation: load 3.3s normal forwards;
	@apply dark:bg-dark;
}

.typed-out {
	animation:
		typing 0.5s steps(15, end) forwards,
		wrapping 3s normal;
	animation-delay: 2s;
}

.blink {
	animation: blinking 1s infinite;
	animation-delay: 2.5s;
}

#loading #canvas {
	position: absolute;
}

#loading .container {
	display: flex;
	width: 80%;
	height: 10vh;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#loading .container div {
	border-radius: 10px;
}

.one {
	height: 35%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0s;
}

.two {
	height: 45%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.1s;
}

.three {
	height: 67%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.3s;
}

.four {
	height: 45%;
	width: 7px;
	border-radius: 20px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.4s;
}

.five {
	height: 65%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.5s;
}

.six {
	height: 95%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.6s;
}

.seven {
	height: 65%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.7s;
}

.eight {
	height: 45%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.8s;
}

.nine {
	height: 35%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 0.9s;
}

.ten {
	height: 20%;
	width: 7px;
	animation: shrink 2s ease-in-out forwards;
	animation-delay: 1s;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten {
	background-color: rgb(255, 255, 255);
}

@keyframes load {
	0% {
		transform: scaleY(1);
		opacity: 1;
	}
	20% {
		transform: scaleY(1);
		opacity: 1;
	}
	40% {
		transform: scaleY(1);
		opacity: 1;
	}
	60% {
		transform: scaleY(1);
		opacity: 1;
	}
	80% {
		transform: scaleY(1);
		opacity: 0;
	}
	100% {
		transform: scaleX(0);
		opacity: 0;
	}
}

@keyframes shrink {
	0% {
		transform: scaleY(1);
	}
	25% {
		transform: scaleY(0.5);
	}
	50% {
		transform: scaleY(1.5);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes wrapping {
	from {
		white-space: nowrap;
	}
	to {
		white-space: break-space;
	}
}

@keyframes blinking {
	from {
		color: transparent;
	}
	to {
		color: inherit;
	}
}
